<!doctype html>
<html class="no-js" ng-app="givagoApp" lang="en">
  <head>
    <meta name="fragment" content="!" />
    <base href="/" target="_blank">
    <meta charset="utf-8">
    <title ng-bind="($title || 'Home') + ' - Givago - Give a free gift to the World!'">Givago - Give a free gift to the World!</title>
    <meta name="description" content="{{ $description || 'GIVAGO aim is to enable all people the ability to donate to charity for free' }}">
    <meta property="og:title" content="{{ $title || 'Home' }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ $canUrl }}" />
    <meta property="og:description" content="{{ $description || 'GIVAGO aim is to enable all people the ability to donate to charity for free' }}" />
    <meta property="og:image" content="http://static.givago.co/givago-logo.png" />
    <meta property="fb:app_id" content="427235487450804" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@GIVAGOCHARITY" />
    <meta name="twitter:title" content="{{ $title || 'Home' }}" />
    <meta name="twitter:description" content="{{ $description  || 'GIVAGO aim is to enable all people the ability to donate to charity for free' }}" />
    <meta name="twitter:image" content="http://static.givago.co/givago-logo.png" />
    <link rel="canonical" href="{{ $canUrl }}" />
    <meta name="viewport" content="width=device-width">
    <link rel="publisher" href="https://plus.google.com/+Givagocharity" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/magic/magic.min.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="parallax-wrapper" ng-controller="ParallaxCtrl">
      <ul id="parallax-scene">
        <li class="layer" data-depth="0.10"><div id="landscape1" class="landscape"></div></li>
        <li class="layer" data-depth="0.10"><div class="tree2"></div></li>
        <li class="layer" data-depth="0.15"><div class="tree1b"></div></li>
        <!--<li class="layer" data-depth="0.15"><div class="tree1c"></div></li>-->
        <li class="layer" data-depth="0.3"><div class="tree1"></div></li>

        <li class="layer" data-depth="0.35"><div class="grass2"></div></li>
        <li class="layer" data-depth="0.4"><div class="grass"></div></li>
      </ul>
    </div>
     
    <nav class="navbar navbar-default main-menu" role="navigation" ng-controller="MenuCtrl">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <div class="visible-xs">
	  <div class="first-step tour" ng-show="currentStep === 0 && navCollapsed && pageLoaded">
	    <p><b>Welcome on Givago! If you want to be a change maker, you are at the perfect place!</b></p>
	    <p><span class="label label-primary">1</span> Connect with us via Facebook, Google, or create an account!</p>
	    <a class="btn btn-danger pull-right" ng-click="closeFeatureTour()"><span class="fa fa-check"></span> I got it!</a>
	  </div>
	  </div>
	  <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>	  
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
	  <ul class="nav navbar-nav navbar-left">
	    <li><a ui-sref="home">Home</a></li>
	    <li><a ui-sref="charity">Charities</a></li>
	    <li><a ui-sref="sponsor">Sponsors</a></li>	
	    <li><a ui-sref="community">Communities</a></li>
	    <li><a ui-sref="aboutus">About Us</a></li>
	    <li><a href="http://blog.givago.co/">Blog</a></li>	    
	  </ul>
	  <ul class="nav navbar-nav navbar-right visible-xs">
	    <li ng-hide="isAuthenticated()"><a data-ng-click="openLoginModal()">Sign In</a></li>  
	    <li ng-show="isAuthenticated()"><a ui-sref="profile"><i class="fa fa-user"></i> Profile</a></li>
	    <!--<li ng-show="isAuthenticated()"><a ng-click="openSettingsModal()"><i class="fa fa-sliders"></i> Settings</a></li>-->
	    <li ng-show="isAuthenticated()" class="divider"></li>
	    <li ng-show="isAuthenticated()"><a ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>            
	  </ul>
	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <div class="user-menu hidden-xs" ng-controller="MenuCtrl">
      <div class="container">
        <div class="top-right" dropdown is-open="status.isopen">
          <div class="hello-user">
            <span ng-show="isAuthenticated()">{{currentUser.username}}</span>
	    <span class="login" ng-show="!isAuthenticated()" data-ng-click="openLoginModal()">Log In</span>
          </div>
	  <div class="first-step tour" ng-show="currentStep === 0 && pageLoaded">
	    <p><b>Welcome on Givago! If you want to be a change maker, you are at the perfect place!</b></p>
	    <p><span class="label label-primary">1</span> Connect with us via Facebook, Google, or create an account!</p>
	    <a class="btn btn-danger pull-right" ng-click="closeFeatureTour()"><span class="fa fa-check"></span> I got it!</a>
	  </div>
          <span class="fa-stack fa-2x user-logo dropdown-toggle" dropdown-toggle data-ng-click="openLoginModal()">
            <span ng-show="!currentUser.avatar">
	      <i class="fa bg fa-circle fa-stack-2x"></i>
              <i class="fa logo fa-user fa-stack-1x fa-inverse"></i>
	    </span>
	    <span ng-show="currentUser.avatar">
	      <img class="img-responsive img-circle" ng-src="{{ currentUser.avatar }}" alt="Profile picture of {{ currentUser.username }}"></img>
	    </span>
          </span>
          <ul id="user-menu" class="dropdown-menu" role="menu" ng-show="isAuthenticated()">
            <li><a ui-sref="profile"><i class="fa fa-user"></i> Profile</a></li>
            <!--<li><a ng-click="openSettingsModal()"><i class="fa fa-sliders"></i> Settings</a></li>-->
            <li class="divider"></li>
            <li><a ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="global-container" ui-view></div>

    <div class="footer">
      <div class="container">
	<p style="margin-left: 40px;">Follow us:</p>
	<ul class="social-logo">
	  <li><a target="_blank" href="https://www.facebook.com/givagocharity" class="facebook"><span class="fa fa-facebook-square"></span></a></li>
	  <li><a target="_blank" href="https://plus.google.com/+Givagocharity" class="google"><span class="fa fa-google-plus-square"></span></a></li>
	  <li><a target="_blank" href="https://twitter.com/GIVAGOCHARITY" class="twitter"><span class="fa fa-twitter-square"></span></a></li>
	</ul>
	<ul>
	  <li><a ui-sref="legal">Legal</a></li>	  
	</ul>
	<ul style="font-size: 15px;">
	  <li><a href="mailto:dev@givago.co">If you encounter issues, contact the developer.</a></li>
	</ul>
      </div>
    </div>

    <script type="text/ng-template" id="share.html">
      <div class="modal-body" style="text-align: center">
	<a class="btn btn-facebook btn-block btn-social btn-large" ng-click="isCollapseShareFb = !isCollapseShareFb"><span class="fa fa-facebook-square"></span> Share it on facebook!</a>
	<div collapse="isCollapseShareFb" class="jumbotron share-fb">
	  <form name="shareFbForm" ng-submit="shareOnFacebook()">
	  <div class="form-group">            
            <textarea class="form-control" id="post" name="post" ng-model="message" placeholder="Message"></textarea>       
	  </div>
	  <p><button type="submit" class="btn btn-success pull-right">Post</button><br/><br/></p>	 
	  </form>
	</div>
	<a class="btn btn-twitter btn-block btn-social btn-large" href="https://twitter.com/intent/tweet?text=Thanks%20to%20@GIVAGOCHARITY%20I've%20just%20planted%20a%20tree%20for%20free!%20Plant%20your%20own%20on%20http://givago.co"><span class="fa fa-twitter-square"></span> Tweet it!</a>
	<br/><a class="btn btn-warning pull-right" ng-click="ignore()">Ignore</a><br/>
      </div>
    </script>
    
    <script type="text/ng-template" id="reset.html">
      <div class="modal-body" style="text-align: center">
        <h2 style="text-align: center; margin-bottom:20px;">Reset your password</h2>
	<form name="resetForm" ng-submit="resetConfirm()" class="login-form" action="" method="POST">
	  <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group" ng-class="{ 'has-error' : resetForm.password.$invalid && resetForm.password.$dirty }">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>
            </div>

            <div class="help-block" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
              <p class="text-danger" ng-show="resetForm.password.$error.required">Password is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input match="password" class="form-control" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            </div>

            <div class="help-block" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.$invalid">
              <p class="text-danger" ng-show="resetForm.confirmPassword.$error.match">Password must match.</p>
            </div>
          </div>
	  <input type="submit" ng-disabled="resetForm.$invalid" class="btn btn-primary btn-block" value="Reset" />
	</form>
	<a ui-sref="home">Back to the homepage</a>
      </div>
    </script>

    <script type="text/ng-template" id="login.html">
      <div class="modal-body" style="text-align: center" ng-show="mode == 'login'">
        <h2 style="text-align: center; margin-bottom:20px;">Log in</h2>
        <form name="loginform" ng-submit="login()" class="login-form" action="" method="POST">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" placeholder="Email or username" name="username" ng-model="username" required autofocus>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>
          </div>

          <input type="submit" ng-disabled="loginform.$invalid" class="btn btn-primary btn-block" value="Login" />
        </form>

        <p style="margin-top: 20px">
          <a href="" ng-click="goToReset()">Forgot your password ?</a>
          <br>
          <small>Don't have an account yet? <a href="" ng-click="goToSignup()">Sign up</a></small></p>

        <div class="signup-or-separator">
          <h6 class="text">or</h6>
          <hr>
        </div>
	
        <a class="btn btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>

        <a class="btn btn-block btn-social btn-google-plus" ng-click="authenticate('google')">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>
	
      </div>

      <div class="modal-body" style="text-align: center" ng-show="mode == 'reset'">
        <h2 style="text-align: center; margin-bottom:20px;">Reset your account</h2>
        <form method="post" ng-submit="reset()" name="resetForm" class="login-form">
	  <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="email" id="email" name="email" ng-model="email" placeholder="Email" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/">
            </div>

            <div class="help-block" ng-show="resetForm.email.$dirty && resetForm.email.$invalid">
              <p class="text-danger" ng-show="resetForm.email.$error.required">The user's email is required.</p>
              <p class="text-danger" ng-show="resetForm.email.$error.pattern">The email seems invalid.</p>
            </div>
          </div>
	  <input type="submit" ng-disabled="resetForm.$invalid" class="btn btn-primary btn-block" value="Send an email" />
        </form>
      </div>
      
      <div class="modal-body" style="text-align: center" ng-show="mode == 'signup'">
        <h2 style="text-align: center; margin-bottom:20px;">Sign up</h2>
        <form method="post" ng-submit="signup()" name="signupForm" class="login-form">

          <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" name="username" ng-model="username" placeholder="Username" required autofocus>
            </div>
            <div class="help-block" ng-show="errors.username || signupForm.username.$dirty && signupForm.displayName.$invalid">
              <p class="text-danger" ng-show="signupForm.username.$error.required">The user's name is required.</p>
	      <p class="text-danger" ng-repeat="error in errors.username">{{ error }}</p>
            </div>
          </div>

          <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
                     ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/">
            </div>

            <div class="help-block" ng-show="errors.email || signupForm.email.$dirty && signupForm.email.$invalid">
              <p class="text-danger" ng-show="signupForm.email.$error.required">The user's email is required.</p>
              <p class="text-danger" ng-show="signupForm.email.$error.pattern">The email seems invalid.</p>
	      <p class="text-danger" ng-repeat="error in errors.email">{{ error }}</p>
            </div>
          </div>

          <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>
            </div>

            <div class="help-block" ng-show="errors.password1 || signupForm.password.$dirty && signupForm.password.$invalid">
              <p class="text-danger" ng-show="signupForm.password.$error.required">Password is required.</p>
	      <p class="text-danger" ng-repeat="error in errors.password1">{{ error }}</p>
            </div>
          </div>

          <div class="form-group" show-errors="{ showSuccess: true }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input match="password" class="form-control" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            </div>

            <div class="help-block" ng-show="errors.password2 || signupForm.confirmPassword.$dirty && signupForm.confirmPassword.$invalid">
              <p class="text-danger" ng-show="signupForm.confirmPassword.$error.match">Password must match.</p>
	      <p class="text-danger" ng-repeat="error in erros.password2">{{ error }}</p>
            </div>
          </div>

          <p style="margin: 20px 0"><small>By clicking on Sign up, you agree to <a>terms & conditions</a> and <a>privacy policy</a></small></p>

          <input type="submit" ng-disabled="signupForm.$invalid" class="btn btn-primary btn-block" value="Sign up" />

          <p style="margin: 20px 0">Already have an account? <a ng-click="goToLogin()">Log in now</a></p>
        </form>
      </div>
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68908428-2', 'auto');
      ga('send', 'pageview');

    </script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '427235487450804',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.js"></script>
	<![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-validation-match/dist/angular-input-match.min.js"></script>
    <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/parallax/deploy/parallax.js"></script>
    <script src="bower_components/parallax/deploy/parallax.min.js"></script>
    <script src="bower_components/parallax/deploy/jquery.parallax.js"></script>
    <script src="bower_components/parallax/deploy/jquery.parallax.min.js"></script>
    <script src="bower_components/progressbar.js/dist/progressbar.js"></script>
    <script src="bower_components/q/q.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/ngSweetAlert/SweetAlert.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://www.youtube.com/iframe_api"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/account.js"></script>
    <script src="scripts/services/ajax.js"></script>    
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/player.js"></script>
    <script src="scripts/controllers/mosaic.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/verify-email.js"></script>
    <script src="scripts/controllers/reset.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/parallax.js"></script>
    <script src="scripts/controllers/aboutus.js"></script>
    <!-- endbuild -->
  </body>
</html>
