<div class="container">
  <h2 class="title mini" ui-sref="home"><img src="/images/givago-logo.png" alt="Givago" /></h2>
  <div class="parallax-player">
    <div class="container content-container presentation-contact-container">
      <h1>About us</h1>
      <p>Nowadays more and more people need help whilst fewer and fewer can afford to give. Based on this observation Givago proposes an alternative way to donate to charity, different from the traditional (out-dated) donation system we have in place today. With Givago, by only taking a few seconds of your time (and watching a 30 seconds advertisement clip, or downloading an app from our sponsors), you can support causes you care for without spending any money!</p><p>This is the first step of a long journey. Our goal is you use the power of advertisements on the Internet to make the world a better place and with your help we can do so!</p><p>Givago as it stands allows you to give to charity without breaking the bank. In the future, it will enable you to create your own local and global projects with the help of our global Givago community.</p>
    </div>
    <div class="container content-container contact-container light-bg">
      <h2>Our dream team</h2>
      <div class="col-sm-12">
	<div class="col-sm-9 col-xs-12">
	  <h3><b>Ivan</b> - Chief Executive Officer - CEO</h3>
	  <p><span class="fa fa-quote-left"></span> I undertake new projects to make everyone’s life easier! I'm the one who likes to look for and come up with new solutions to every kind of matter. As an entrepreneur I seek to give a human meaning to my career path. Relationships with others are crucial for me. I started another company years ago  where I decided to take my social responsibility by making sure that all components were ethical. And here I am hoping that you'll be part of our adventure making the World a better place! I'm also a young guy that likes surfing and travelling as much as I can. I'm always up for a drink with friends (actually anyone) laughing and sharing great stories. <span class="fa fa-quote-right"></span></p>
	  <p><a target="_blank" href="https://uk.linkedin.com/in/rimbaud">Follow me on Linked<span class="fa fa-linkedin-square"></span></a></p>	    
	</div>
	<div class="col-sm-3 hidden-xs">
	  <img src="/images/ivan.jpg" class="img-thumbnail img-circle" alt="Picture of Ivan">
	</div>
      </div>
      <div class="col-sm-12">
	<div class="col-sm-3 hidden-xs">
	  <img src="/images/enzo.jpg" class="img-thumbnail img-circle" alt="Picture of Enzo">
	</div>
	<div class="col-sm-9 col-xs-12">
	  <h3><b>Enzo</b> - Chief Technical Officer - CTO</h3>
	  <p><span class="fa fa-quote-left"></span> I’m very enthusiast about developing Givago. In fact, this website is a little revolution, allowing you to do a little for the planet everyday for free! At the same time Givago gathers people around the World with the same outlook and enhances new connections that make sense! When I'm not working behind the scene on Givago you can find me rocking out on my guitar! <span class="fa fa-quote-right"></span></p>
	  <p><a target="_blank" href="https://fr.linkedin.com/pub/enzo-hamelin/60/5a7/a29">Follow me on Linked<span class="fa fa-linkedin-square"></span></a></p>	    
	</div>	  
      </div>
    </div>
  </div>
</div>
