<div class="container">
  <h1 class="title" ui-sref="home"><img src="images/givago-logo.png" alt="Givago" /></h1>
  <div class="slogan">
    <span>Give a free gift to the World!</span>
  </div>  
  <div class="player">    
    <div class="player-selection">
      <div class="tour second-step" ng-show="currentStep === 1">
	<p>2nd: Select your donation.</p>
	<a class="btn btn-danger pull-right" ng-click="closeFeatureTour()">I don't want the feature tour</a>
      </div>
      <span class="fa-stack fa-5x" ng-repeat="gift in gifts" ui-sref="mosaic({gift: gift.id})">
	<i class="fa fa-circle fa-stack-2x"></i>
	<i class="{{ gift.icon }} fa-stack-1x"></i>
	<span class="player-label shadow1">{{ gift.name }}</span>
      </span>
    </div>
  </div>
</div>
