<div class="player-container">
    <div class="title-container">
        <h1 class="title" ui-sref="home"><img src="images/givago-logo.png" alt="Givago" /></h1>
    </div>
    <div class="slogan">
        <span>Give a free gift to the World!</span>
    </div>
    <div class="player">
        <div class="player-selection">
            <span class="fa-stack fa-5x" ng-repeat="gift in gifts" ui-sref="mosaic({gift: gift.id})">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ gift.icon }} fa-stack-1x"></i>
                <span class="player-label shadow1">{{ gift.name }}</span>
            </span>
            <span class="know-more shadow1" ng-click="scrollToContent()">Know more <i class="fa fa-angle-down"></i></span>
        </div>
    </div>
</div>

<div id="content-container" class="container content-container text-center light-bg2">
    <h2>How does Givago work?</h2>
    <p>You select a donation from the one available. Once clicking on the chosen donation you are required to dedicate one minute of your time for the company that is sponsoring the action. That’s yet! You’ve permitted to do something good for planet hearth and their people!<br />Give without breaking the bank!</p>

    <h2>Advertising company?</h2>
    <p>Givago is a social enterprise using advertisements to fund humanitarian and ecological projects.</p>

    <h2>Community Driven?</h2>
    <p>Givago want to support the community. So please contact us if you got some local project, and together with the community we will do our best to make it become reality!</p>

    <h2>Is Givago right for you?</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>As an individual?</h3>
            <ul class="fa-ul text-left">
                <li><i class="fa-li fa fa-check-square"></i>You want to change the world but you got no money?</li>
                <li><i class="fa-li fa fa-check-square"></i>You want to be a change maker, and be part of a local and global community?</li>
                <li><i class="fa-li fa fa-check-square"></i>You are ready to spend some time to see this changes?</li>
                <li><i class="fa-li fa fa-check-square"></i>You are a ready to call yourself Givago’er?</li>
            </ul>
	    <p>Then, welcome on our amazing community!</p>
        </div>
        <div class="col-md-6">
            <h3>As a Sponsors?</h3>
            <ul class="fa-ul text-left">
                <li><i class="fa-li fa fa-check-square"></i>You want to convert your advertising budget into humanitarian and ecological actions.</li>
                <li><i class="fa-li fa fa-check-square"></i>You want to reach customers that cares about what you do.</li>
                <li><i class="fa-li fa fa-check-square"></i>You want to pay the same as YouTube pre-roll.</li>
                <li><i class="fa-li fa fa-check-square"></i>You want to build trust and engagement with your customers.</li>
            </ul>
	    <p>Givago is made for you! Contact us for more information.</p>
        </div>
    </div>

    <p>Together, let’s make a difference. We just need to start from somewhere.</p>
</div>
