<div class="player-container">
  <div class="title-container">
    <h1 class="title mini" ui-sref="home"><img src="images/givago-logo.png" alt="Givago" /></h1>
  </div>
  <div class="player">
    <div class="container player-video">

      <div id="progress-bar" class="" role="alert"></div>

      <div id="buffering-bar" class="" role="alert"></div>

      <div class="row">
        <div class="col-md-8">
	  <div class="embed-responsive embed-responsive-16by9">
	    <youtube-video class="embed-responsive-item" video-url="video" player-vars="playerVars"></youtube-video>
	  </div>
        </div>
        <div class="col-md-4" style="text-align: left;">
          <div class="sponsor-description light-bg">
            <h2><img ng-src="{{ ad.sponsor_detail.logo }}" alt="{{ ad.sponsor_detail.name }}"></h2>

            <p class="sponsor-description-text">{{ ad.sponsor_detail.description }}</p>

            <span class="social-header">Links:</span>
            <ul class="sponsor-social list-inline">
              <li>
                <a href="{{ ad.sponsor_detail.youtube }}" target="_blank" title="{{ ad.sponsor_detail.name }}">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
	      <li>
                <a href="{{ ad.sponsor_detail.facebook }}" target="_blank" title="{{ ad.sponsor_detail.name }}">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
	      <li>
                <a href="{{ ad.sponsor_detail.twitter}}" target="_blank" title="{{ ad.sponsor_detail.name }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
	      <li>
                <a href="{{ ad.sponsor_detail.flickr }}" target="_blank" title="{{ ad.sponsor_detail.name }}">
                  <i class="fa fa-flickr"></i>
                </a>
              </li>
	      <li>
                <a href="{{ ad.sponsor_detail.linkedin }}" target="_blank" title="{{ ad.sponsor_detail.name }}">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>

	    <p>{{ ad.number_views }} view(s)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
